.loading,
.error {
  color: var(--info);
  margin: 0.5rem 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin: 0.5rem;
}

.videoContainer iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: justify;
  hyphens: auto;
  border: 0.1rem solid var(--success);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.heading3 {
  color: var(--secondary);
}
