.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.roverName {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--background);
}

.link {
  color: var(--primary);
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}