@import 'tailwindcss';

:root {
  --background: #1a2b34;
  --foreground: #f5f5dc;

  --primary: #c693c6;
  --secondary: #ea5e5e;
  --success: #56b3b4;
  --muted: #334650;
  --info: #fbbf47;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* global styles for react-calendar */
.react-calendar__navigation__label {
  background-color: var(--muted) !important;
}

.react-calendar__navigation__arrow:hover {
  background-color: var(--primary) !important;
}

.react-calendar__navigation__arrow:disabled {
  background-color: var(--muted) !important;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--foreground);
}

.react-calendar__month-view__weekdays {
  display: none !important;
}

.react-calendar__tile {
  padding: 0;
  aspect-ratio: 1 / 1;
}

.react-calendar__tile > abbr {
  display: none;
}

.react-calendar__tile:disabled {
  background-color: var(--muted);
}

/* global styles for CameraChart.tsx */
.y-axis-label,
.y-axis-number {
  fill: var(--foreground);
  font-size: 0.9rem;
}

.rect {
  cursor: pointer;
}

/* disable pointer events on embedded media when nav menu is open
fixes issue where video/iframe blocks clicks on nav links in mobile view */
body.menuOpen video,
body.menuOpen iframe {
  pointer-events: none !important;
}
