.formContainer {
    margin: 1rem;
}

.fieldsContainer {
    display: grid;
    gap: 2rem;
}

.input, 
.textarea {
    width: 100%;
    background-color: #334650;
    border: 0.1rem solid #56B3B4;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem auto;
}

.button {
    background-color: #C693C6;
    color: var(--background);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
}

.button:hover {
    background-color: #AA7EAA;
    cursor: pointer;
}