.formContainer {
  margin: 1rem;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
}

.errorBlock {
  color: var(--info);
}

.button {
  margin: 0 auto;
}

.success {
  color: var(--success);
  text-align: center;
  margin: 0.5rem;
}
